bert-score
chardet
click
cycler
dataclasses
datasets
dill
filelock
fsspec
gensim
huggingface-hub
idna
importlib-metadata
joblib
jsonlines
kiwisolver
multiprocess
nltk
packaging
pillow
pyarrow
pyparsing
python-dateutil
pytz
sacremoses
scikit-learn
six
smart-open
threadpoolctl
tokenizers
tqdm
transformers
typing-extensions
urllib3
xxhash
zipp
